body{
    background-color:  var(--verdeFondo);

}

:root{
    --rojo: #800000;
    --oro:  #FFD700;
    --blanco:  #FFFFFF;
    --negro:   #000000;
    --verdeFondo:  #002e00;
    --gris:  #A9A9A9;
    --texto: #D3D3D3;
}
.container{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 670px 100px;
    gap: 20px;
    grid-template-areas: 
        "main"
        "apuestas";

}
.title{
    text-align: center;
    color: var(--rojo);
}
.main{
    min-width: 1000px;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    /* min-height: 670px; */
    grid-template-columns: 1fr;
    grid-template-rows: 200px 250px 200px;
    grid-template-areas: 
        "cpu"
        "comun"
        "jugador";
    grid-area: main;
}
.cajas{
    border: 1px solid var(--rojo);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cpu{
    grid-area: cpu;
}
.comun{
    grid-area: comun;
}
.jugador{
    grid-area: jugador;
}
.apuestas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 5px;
    height: 100px;
    grid-area: apuestas;
}
.marcador{
    display: flex;
}
.dinero{
    color: var(--texto);
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px ;
    margin: 0;
}
.dinero>span{
    margin: 15px; 
}
.apuesta{
    display: flex;
    align-items: center;
    justify-content: center;
}
.apuesta>button{
    width: 40px;
    height: 40px;
}
#menos{
    border-radius: 10px 0 0 10px;
}
#mas{
    border-radius: 0 10px 10px 0;
}
.apuesta>input{
    height: 36px;
    border: none;
    background-color: var(--rojo);
    font-size: 1.2rem;
    width: 120px;
    text-align: center;
    color: var(--texto);
    border: 1px solid var(--gris);
}

img{
    height: 180px;
    padding: 10px;
}
h2{
    color: var(--rojo);
    font-weight: 100;
    font-size: 1.5rem;
}
button{
    background-color: var(--rojo);
    color: var(--texto);
    font-size: 1.2rem;
    border: none;
    height: 40px;
    border: 1px  solid var(--gris);
}
.botones{
    display: flex;
    gap: 10px;
    margin: 10px;
}
.botones button{
    border-radius: 10px;
}
button:hover, input:hover{
    background-color: var(--texto);
    color: var(--rojo);
}